@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #151c2c;
  --bg-secondary: #182237;
  --bg-tertiary: #2e374a;
  --text-primary: white;
  --text-secondary: #b7bac1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
